/* .App {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

header {
  height: 50px;
  color: white;
}

header img {
  height: 30px;
}


.pos-button {
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  min-width: 120px;
  color: #282c34;
}

.pos-button:hover {
  opacity: 0.7;
} */
