.basic-layout-background {
  background-color: #ffffff;
}

.basic-header-background .basic-layout-footer-background {
  background-color: #1890ff;
}

.basic-layout-footer {
  bottom: 0px;
}

.basic-layout-content {
  background: #ffffff;
}

.basic-layout-content {
  height: 400px;
  padding: 200px 400px;
}
